p.sansserif{font:11px Verdana,Helvetica,sans-serif;}

#container {
	display: inline-block;
	position:relative;
	width:100%;
	height:100%;
}

#left {
	float:left;
	margin-left:15px;
	margin-right:15px;
}

#canvasWrapper {
	width:500px;
	height:500px;
	float:left;
	margin-left:15px;
	margin-right:15px;
}

#bottom {
	float:bottom;
	margin-left:15px;
	margin-right:15px;
}